<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer">
    <!-- Footer -->
    <div class="footer" style="position: relative">
        <div class="container">
            <div class="row footer-top">
                <div class="col-sm-3 col-lg-3">
                    <h4>Contact</h4>
                    <p><strong>QQ</strong> 1686799346</p>
                    <p><strong>WeChat</strong> CV10236516</p>
                    <p><strong>E-mail</strong> wendev1024@icloud.com</p>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <h4>Friends</h4>
                    <strong class="friends"><a href="https://alicejthelast.lofter.com/">Oralear</a></strong>
                    <strong class="friends"><a href="http://tianhang28.cn/">水浅小庙</a></strong>
                    <strong class="friends"><a href="http://blog.keysking.com/">Keysking</a></strong>
                    <strong class="friends"><a href="http://n4tsu.top/">Natsu</a></strong>
                    <strong class="friends"><a href="http://liul14n.top/">LiuL14n</a></strong>
                </div>
                <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                    <div class="row about">
                        <div class="col-xs-3">
                            <h4>About</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">About Me</a>
                                </li>
                                <li>
                                    <a href="https://github.com/WenDev/WenDev-WebSite">Source Code</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>Other</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.jianshu.com/u/dc63550214af">简书</a>
                                </li>
                                <li>
                                    <a href="https://github.com/WenDev">GitHub</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row footer-bottom">
                <ul class="list-inline text-center">
                    <li>Powered by
                        <a href="https://spring.io/projects/spring-boot">Spring Boot</a>
                        Design/Developed by
                        <a href="http://wendev.site">江文</a>
                        &copy;2020 江文(WenDev)
                    </li>
                    <li style="display: block">鲁ICP备19064728号-1</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Footer -->
</div>

</body>
</html>