<!doctype html>
<!--[if IE 7 ]>
<html lang="zh-cn" class="isie ie7 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>
<html lang="zh-cn" class="isie ie8 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>
<html lang="zh-cn" class="isie ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="_fragments/header :: head(~{:: title})">
    <title>404 ｜ 江文的后端技术小站</title>
</head>
<body>
<header th:replace="_fragments/nav :: navbar"></header>

<!-- Content -->
<section id="main" class="container">
    <!-- Articles and Comments -->
    <header>
        <h2>404</h2>
        <p>404 Not Found</p>
    </header>
    <div class="row">
        <div class="12u">
            <section class="box special">
                <h2>什么也没找到，是不是请求的路径搞错了？再检查一下吧？</h2>
            </section>
        </div>
    </div>
</section>
<!-- End Content -->

<!-- Footer -->
<div th:replace="_fragments/footer :: footer"></div>
<!-- End Footer -->
</body>
</html>
