.header-img {
    border-radius: 100px;
    margin: 30px;
}

.col-md-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: varela round, "Yuanti SC", "Heiti SC", Arial, sans-serif;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    color: #999999;
    border-left: 5px solid #CCCCCC !important;
}

.col-md-12 h1 {
    margin-top: 80px;
    margin-bottom: 20px;
}

.col-md-12 p,
.col-md-12 li {
    font-size: 1.8rem;
}

li {
    line-height: 3.8rem;
}
