div.article p.title {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 500;
    color: #333333;
}

div.article p,
div.article table{
    font-size: 1.9rem;
    line-height: 3rem;
}

div.article li {
    font-size: 1.9rem;
    line-height: 3rem;
}

textarea.comment-area {
    width: 95% !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}

.submit-btn, .submit-btn:hover {
    width: 20%;
    right: 5%;
    position: relative;
    background-color: darkred;
    border: none;
    color: white;
}

.submit-btn:active {
    color: white !important;
    background-color: #5b0000 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.article-info {
    margin: 15px 0 50px 0;
}

.comment-info {
    margin: 30px 0 20px 0;
}

.comment-content {
    width: 95%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #DDDDDD;
}

div.comment span.info-content,
div.sub-comment span.info-content {
    margin: 0 20px 0 5px;
}

.sub-comments {
    color: #888888 !important;
    margin: 0 0 90px 0 !important;
}

.sub-comments strong {
    color: #333333;
}

.col-md-2 {
    top: 10%;
    position: sticky !important;
    position: -webkit-sticky !important;
}

div.article h1,
div.article h2,
div.article h3,
div.article h4 {
    margin: 50px 0 20px 0;
}

div.comments h1 {
    margin: 80px 0 30px 0;
}

div.form-group h1 {
    margin: 80px 0 10px 0;
}

div.sub-comment {
    left: 5%;
    width: 90%;
    position: relative;
}

a:hover, a:focus {
    text-decoration: none;
}

.TOCLevel1 {
    padding-left: 0%;
}

.TOCLevel2 {
    padding-left: 10%;
}

.TOCLevel3 {
    padding-left: 20%;
}

.TOCLevel4 {
    padding-left: 30%;
}

.category-item {
    list-style: none;
    font-size: 1.7rem;
    line-height: 3.5rem;
}

.right-info {
    margin-bottom: 20px;
}

.category-item-group {
    padding: 5px 20px;
    border-left: 1px solid #DDDDDD;
    max-height: 600px;
    overflow: scroll;
}

.col-md-2 {
    height: 100%;
}

#TOC {
    margin-top: 10%;
}

p.title,
div.article h1 ,
div.article h2 ,
div.article h3 ,
div.article h4 {
    font-family: varela round, "Yuanti SC", Arial, sans-serif;
    color: black;
}

.info-content a:hover {
    cursor: pointer;
}

div.article a#TOC1 ,
div.article a#TOC2 ,
div.article a#TOC3 ,
div.article a#TOC4 {
    text-decoration: none;
}
