.label-active {
    font-size: 1.5rem;
    display: inline-block;
    margin: 5px;
    padding: 5px 6px;
    background-color: #333333;
    color: white;
    border: none;
}

.label-active a,
.label-active a:visited {
    color: white !important;
}

.label-active a:hover,
.label-active a:active {
    color: white !important;
    text-decoration: underline !important;
}

h1 {
    font-family: varela round, "Yuanti SC", "Heiti SC", Arial, sans-serif;
}

.label a,
.label a:visited{
    color: #333333;
}

.label a:hover,
.label a:active {
    color: #333333;
    text-decoration: underline;
}

.label-active .badge {
    background-color: white;
    color: #333333;
}

.col-md-12 h1.page-title {
    font-size: 5rem;
    margin: 30px 0 50px 0;
}

.label-area {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}
