<!doctype html>
<!--[if IE 7 ]>
<html lang="zh-cn" class="isie ie7 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>
<html lang="zh-cn" class="isie ie8 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>
<html lang="zh-cn" class="isie ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="_fragments/header :: head(~{:: title})">
    <title>关于我 | 江文的后端技术小站</title>
</head>
<body>
<header th:replace="_fragments/nav :: navbar"></header>

<!-- Content -->
<section id="main" class="container">
    <!-- Articles and Comments -->
    <header>
        <h2>江文的后端技术小站</h2>
        <p>风有风的自由，我有我的追求。</p>
    </header>
    <div class="row">
        <div class="12u">
            <section class="box">
                <h1>友情链接</h1>
                <p>注：友情链接的排序按照友情链接的添加顺序</p>
                <ul>
                    <li><a href="http://tianhang28.cn/">水浅小庙</a></li>
                    <li><a href="http://blog.keysking.com/">Keysking</a></li>
                    <li><a href="http://n4tsu.top/">N4tsu</a></li>
                    <li><a href="http://liul14n.top/">Liul14n</a></li>
                    <li><a href="https://alicejthelast.lofter.com/">Oralear</a>  感谢大触贡献本站的头图</li>
                    <li><a href="http://blog.char0n.com">Anzoo</a></li>
                </ul>
                <h1>关于我</h1>
                <blockquote>不想当切图仔的crud仔不是好架构师。</blockquote>
                <p>
                    我是江文，一个满脑子都是不切实际的幻想的人。<br>
                    山东科技大学CS专业本科大一（大二）在读，坐标山东青岛，Java/后端开发修行者，每天都在学习与实践中。<br>
                    一个开发不到一年的辣鸡crud仔。虽然偶尔搞搞前端，但是还是<strike>珍爱生命远离前端</strike>，写写JS和Vue还行，CSS那真的是反人类的东西，碰都不想碰……<br>
                    <strike>各位前端大哥们请放下你们手中的砖头，小弟我错了（顶锅逃）</strike><br>
                    假的轨道交通迷，喜欢7053一样的老火车，还有各种奇怪的地铁站。出去运转/拍车的时间超级少。<br>
                    希望自己能成为一位在这个Java后端开发者遍地都是的时代中的一个与众不同的Java开发者。
                </p>
                <h2>Concat Me</h2>
                <ul>
                    <li><strong>QQ： </strong>1686799346</li>
                    <li><strong>WeChat： </strong>CV10236516</li>
                    <li><strong>E-mail： </strong>wendev1024@icloud.com</li>
                    <li><strong>GitHub： </strong><a href="https://github.com/WenDev">WenDev</a></li>
                    <li><strong>简书： </strong><a href="https://www.jianshu.com/u/dc63550214af">__江文__</a></li>
                </ul>
                <h1>关于wendev.site</h1>
                <p>
                    这里是我的个人网站，使用<code>Spring Boot</code>开发，所有后端开发工作均由本人完成。<br>
                    本站已在GitHub上开源并持续维护中，欢迎Star和Fork～感激不尽！地址在这：<a href="https://github.com/WenDev/WenDev-WebSite">源码地址</a><br>
                    如果发现Bug或者莫名其妙就500了，欢迎在GitHub上提Issue，有什么好的想法也欢迎提交Pull Request。
                </p>
                <h3>关于经常被问到的一个小问题：为什么要自己造轮子而不用现成的框架</h3>
                <p>
                    很简单：程序员的哲学不就是什么用着不顺手就自己写什么嘛。既然其他的博客框架和博客网站用着不顺手，那就自己写一个用着顺手的吧，这样需要什么都可以自己做，不求人。
                </p>
            </section>
        </div>
    </div>
</section>
<!-- End Content -->

<!-- Footer -->
<div th:replace="_fragments/footer :: footer"></div>
<!-- End Footer -->

</body>
</html>
