<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head(~{:: title}, ~{:: link})">
    <title>归档</title>
    <link rel="stylesheet" th:href="@{css/wen.css}">
    <link rel="stylesheet" th:href="@{css/archive.css}">
</head>
<body>

<!-- Header -->
<div th:replace="components/navbar_and_head :: navbarAndHeader"></div>
<!-- End Header -->

<!-- Content -->
<div class="container">
    <!-- Body -->
    <div class="container">
        <div class="col-md-12">
            <div th:each="item : ${archiveMap}">
                <h1 th:text="${item.key}">2020-1</h1>
                <div class="archive-article-group">
                    <div class="archive-article" th:each="article : ${item.value}">
                        <span class="archive-article-title">
                            <a th:href="@{'/article/' + ${article.id}}" th:text="${article.title}">文章1</a>
                        </span>
                        <span class="archive-article-date">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="info-content" th:text="${#dates.format(article.createTime, 'yyyy-MM-dd')}"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>

    <!-- Footer -->
    <div th:replace="components/footer :: footer"></div>
    <!-- End Footer -->
</div>
<!-- End Content -->
</body>
</html>
