<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head(~{:: title}, ~{:: link})">
    <title th:text="${article.title}"></title>
    <link rel="stylesheet" th:href="@{/css/wen.css}">
    <link rel="stylesheet" th:href="@{/css/article.css}">
</head>
<body>
<script th:src="@{/js/toc.js}"></script>
<!-- Header -->
<div th:replace="components/navbar_and_head :: navbarAndHeader"></div>
<!-- End Header -->

<!-- Content -->
<div class="container-fluid">
    <!-- Margin-Left -->
    <div class="col-md-1" style="background-color: transparent; height: 200px;"></div>
    <!-- End Margin-Left -->

    <!-- Articles and Comments -->
    <div class="col-md-8">
        <div class="article">
            <div>
                <p class="title" th:text="${article.title}"></p>
            </div>
            <div class="article-info">
                <span class="glyphicon glyphicon-calendar"></span>
                <span class="info-content" th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd HH:mm')}"></span>
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="info-content" th:text="${article.type.name}"></span>
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="info-content" th:text="${article.views}"></span>
                <span class="glyphicon glyphicon-tag"></span>
                <span class="info-content" th:each="tag : ${article.tags}" th:text="${tag.name}"></span>
            </div>
            <div>
                <div id="md" th:utext="${article.content}"></div>
            </div>
        </div>
        <!-- Comments -->
        <div class="comments">
            <h1>Comments</h1>
            <div class="comment">
                <div class="comment-info">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="info-content">Username</span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="info-content">wendev1024@icloud.com</span>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="info-content">2020-1-1</span>
                    <span class="info-content"><a href="#">reply</a></span>
                    <span class="info-content"><a href="#">delete</a></span>
                </div>
                <div class="comment-content">
                    中文中文中文
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis doloremque
                    dolores
                    ducimus ea eius esse facilis harum laborum laudantium libero nihil, optio porro praesentium,
                    quidem
                    ratione sunt suscipit ullam!
                </div>
            </div>
            <div class="sub-comments">
                <div class="sub-comment">
                    <div class="comment-info">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="info-content">Username</span>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="info-content">wendev1024@icloud.com</span>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="info-content">2020-1-1</span>
                        <span class="info-content"><a href="#">reply</a></span>
                        <span class="info-content"><a href="#">delete</a></span>
                    </div>
                    <div class="sub-comment-content">
                        <strong>@Username</strong>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consequatur delectus
                        dignissimos dolore dolores esse est fugiat harum, itaque magnam maiores maxime, modi
                        mollitia,
                        odit quam rerum sapiente unde!
                    </div>
                </div>
                <div class="sub-comment">
                    <div class="comment-info">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="info-content">Username</span>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="info-content">wendev1024@icloud.com</span>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="info-content">2020-1-1</span>
                        <span class="info-content"><a href="#">reply</a></span>
                        <span class="info-content"><a href="#">delete</a></span>
                    </div>
                    <div class="sub-comment-content">
                        <strong>@Username</strong>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consequatur delectus
                        dignissimos dolore dolores esse est fugiat harum, itaque magnam maiores maxime, modi
                        mollitia,
                        odit quam rerum sapiente unde!
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-info">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="info-content">Username</span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="info-content">wendev1024@icloud.com</span>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="info-content">2020-1-1</span>
                    <span class="info-content"><a href="#">reply</a></span>
                    <span class="info-content"><a href="#">delete</a></span>
                </div>
                <div class="comment-content">
                    中文中文中文
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis doloremque
                    dolores
                    ducimus ea eius esse facilis harum laborum laudantium libero nihil, optio porro praesentium,
                    quidem
                    ratione sunt suscipit ullam!
                </div>
            </div>
            <div class="comment">
                <div class="comment-info">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="info-content">Username</span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="info-content">wendev1024@icloud.com</span>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="info-content">2020-1-1</span>
                    <span class="info-content"><a href="#">reply</a></span>
                    <span class="info-content"><a href="#">delete</a></span>
                </div>
                <div class="comment-content">
                    中文中文中文
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis doloremque
                    dolores
                    ducimus ea eius esse facilis harum laborum laudantium libero nihil, optio porro praesentium,
                    quidem
                    ratione sunt suscipit ullam!
                </div>
            </div>
        </div>
        <form>
            <div class="form-group">
                <h1>Post a comment</h1>
                <label for="comment"></label>
                <textarea id="comment" rows="10" class="comment-area form-control"
                          placeholder="Comment"></textarea>
            </div>
            <a type="submit" class="btn btn-default pull-right submit-btn">
                Submit
            </a>
        </form>
        <!-- End Comments -->
    </div>
    <!-- End Articles and Comments -->

    <!-- Content-Right -->
    <div class="col-md-2">
        <!-- Top Categories -->
        <div id="TOC">
            <h3 class="right-info">Category</h3>
            <div class="category-item-group" id="category-item-group"></div>
        </div>
        <!-- End top categories -->
    </div>
    <!-- End Content-Right -->

    <!-- Margin-Right -->
    <div class="col-md-1" style="background-color: transparent; height: 200px;"></div>
    <!-- End Margin-Right -->

</div>
<!-- End Content -->

<!-- Footer -->
<div th:replace="components/footer :: footer" style="margin-top: 100px"></div>
<!-- End Footer -->

<script src="/editor-md/lib/marked.min.js"></script>
<script src="/editor-md/lib/prettify.min.js"></script>
<script src="/editor-md/lib/raphael.min.js"></script>
<script src="/editor-md/lib/underscore.min.js"></script>
<script src="/editor-md/lib/sequence-diagram.min.js"></script>
<script src="/editor-md/lib/flowchart.min.js"></script>
<script src="/editor-md/lib/jquery.flowchart.min.js"></script>
<script src="/editor-md/editormd.js"></script>
<script>
  editormd.markdownToHTML("md", {
    htmlDecode      : "style,script,iframe",
    emoji           : true,
    taskList        : true,
    tex             : true,  // 默认不解析
    flowChart       : true,  // 默认不解析
    sequenceDiagram : true  // 默认不解析
  });
</script>
</body>
</html>
