<!doctype html>
<!--[if IE 7 ]>
<html lang="zh-cn" class="isie ie7 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>
<html lang="zh-cn" class="isie ie8 oldie no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>
<html lang="zh-cn" class="isie ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="_fragments/header :: head(~{:: title})">
    <title>注册 ｜ 江文的后端技术小站</title>
</head>

<body class="landing">
<header th:replace="_fragments/nav :: navbar-index"></header>
<div id="#top"></div>
<section id="banner">
    <h2>注册.WenDev</h2>
    <p>持节云中，何日遣冯唐？</p>
</section>
<!--About-->
<section id="main" class="container">
    <section class="box">
        <form method="post" action="/register">
            <div class="row uniform half">
                <div class="12u">
                    <input name="username" id="username" placeholder="用户名" type="text" />
                </div>
            </div>
            <div class="row uniform half ollapse-at-2">
                <div class="6u">
                    <input name="password" id="password" placeholder="密码" type="password"/>
                </div>
                <div class="6u">
                    <input name="repeatPassword" id="repeat-password" placeholder="重复密码" type="password"/>
                </div>
            </div>
            <div class="row uniform half">
                <div class="12u">
                    <input name="nickname" id="nickname" placeholder="昵称" type="text" />
                </div>
            </div>
            <div class="row uniform half">
                <div class="12u">
                    <input name="email" id="email" placeholder="电子邮箱" type="email" />
                </div>
            </div>
            <div class="row uniform">
                <div class="12u">
                    <p th:if="${errInfo != null}" th:text="'注册失败：' + ${errInfo}"></p>
                    <ul class="actions">
                        <li><input type="submit" value="注册" /></li>
                        <li><a href="/login" class="button alt">已有账号？点我登录</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</section>

<footer th:replace="_fragments/footer :: footer"></footer>
</body>
</html>
