<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/.page-section-->
<footer id="footer" class="copyright" th:fragment="footer">
    <div class="container">
        <ul class="copyright">
            <li>Copyright &copy; 2020.JiangWen All rights reserved.</li>
            <li>Powered by <a href="https://spring.io/projects/spring-boot">Spring Boot</a>. Developed by <a
                    href="http://www.wendev.site">JiangWen</a>. Template <a
                    href="http://www.cssmoban.com/cssthemes/7053.shtml">Alpha</a>.</li>
            <li>鲁ICP备19064728号-1</li>
        </ul>
        <!-- / .row -->
    </div>
</footer>
</body>
</html>